@import url(https://fonts.googleapis.com/css?family=Lato);
@import 'variables.scss';
@import 'mixins.scss';

// mixin
.example {
  @include example-container;
}

// pass color into mixin
p {
  @include paragraph-formatting($medium-purple-color);
}

// nested css rules
ul {
  margin-left: 5px;

  li {
    color: #1AB78A;
    font: {
      size: 18px;
      family: $font-sans;
      weight: bold;
    }
  }
}

// nested namespace property (e.g. font, text, background)
a {
  color: #000;
  text: {
    decoration: none;
    transform: capitalize;
  }
  &:hover {
    color: #23568b;
  }
}

// span elements
.feature {
  color: lighten($medium-purple-color, 5%);
  font: {
    size: 18px;
    weight: bold;
  }
}

.book-title {
  color: darken(#1AB78A, 10%);
  text-decoration: underline;
}

.terminal-commands {
  color: #1AB78A;
}

.output-styles {
  font-weight: bold;
}

.link {
  color: #23568b;
  text-transform: uppercase;
}

.indent {
  padding-left: 15px;
}

.indent-twice {
  padding-left: 30px;
}

// body formatting
body{
  padding-left: 25px;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 50px;
}

h4 {
  margin-top: 50px;
}

// single line comments aren't compiled into the final .css output

/* multi-line comments
are compiled into the final .css output */
